<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>	
<title>Dados da cultura</title>

</head>
<body>



<div id="container"></div>
	 	<table>
   	 		<tr th:each="imovel : ${list}">
   	 			<td th:text="${imovel.vlTemperatura}"></td>
   	 			<td th:text="${imovel.vlPh}"></td>
   	 		</tr>
   	 	</table>

<script th:inline="javascript">

var phValues = [[${list}]];
alert(phValues);

Highcharts.chart('container', {

    title: {
        text: 'Média diária dos dados coletados'
    },

    subtitle: {
        text: 'Fonte: NodeMCU'
    },

    yAxis: {
        title: {
            text: 'Valores'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: 2010
        }
    },

    series: [{
        name: 'pH',
        data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
    }, {
        name: 'Temperatura',
        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
    }, {
        name: 'Umidade do Ar',
        data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
    }, {
        name: 'Umidade do Solo',
        data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
    }, {

        name: 'Alerta de incêndio',
        data: [0, 0, 0, 0, 0, 11816, 18274, 18111]
    }]

});
      
    	
</script>

</body>
</html>