<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>	

<title>Dados da cultura</title>

</head>
<body>



<div id="container"></div>
   	 	
   	 	<table>
   	 		<tr>
   	 			<td th:text="${mediaDia}"></td>
   	 			<td th:text="${mediaDia1}"></td>
   	 			<td th:text="${mediaDia2}"></td>
   	 			<td th:text="${mediaDia3}"></td>
   	 			<td th:text="${mediaDia4}"></td>
   	 			<td th:text="${mediaDia5}"></td>
   	 			<td th:text="${mediaDia6}"></td>
   	 		</tr>
   	 	</table>

<div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
</div>
<div id="map"></div>
    
<script th:inline="javascript">

var list = [[${list}]];
var mediaDia = [[${media0}]];
var mediaDia1 = [[${media1}]]; // 1 dia atrás
var mediaDia2 = [[${media2}]]; // 2 dias atrás
var mediaDia3 = [[${media3}]]; // 3 dias atrás
var mediaDia4 = [[${media4}]]; // 4 dias atrás
var mediaDia5 = [[${media5}]]; // 5 dias atrás
var mediaDia6 = [[${media6}]]; // 6 dias atrás

list.forEach(function(entry) {
    console.log(entry);
});

Highcharts.chart('container', {

    title: {
        text: 'Média diária dos dados coletados'
    },

    subtitle: {
        text: 'Fonte: NodeMCU'
    },
    xAxis: {  
        tickInterval:  1,
        type: 'day'
    },

    yAxis: {
        title: {
            text: 'Valores'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: 7,
            pointInterval: 1
        }
    },

    series: [{
        name: 'pH',
        data: [mediaDia[0] ? mediaDia[0].vlPh : mediaDia[0], 
        		mediaDia1[0] ? mediaDia1[0].vlPh : mediaDia1[0],
            	mediaDia2[0] ? mediaDia2[0].vlPh : mediaDia2[0],
            	mediaDia3[0] ? mediaDia3[0].vlPh : mediaDia3[0],
            	mediaDia4[0] ? mediaDia4[0].vlPh : mediaDia4[0],
            	mediaDia5[0] ? mediaDia5[0].vlPh : mediaDia5[0],
            	mediaDia6[0] ? mediaDia6[0].vlPh : mediaDia6[0]]
    }, {
        name: 'Temperatura',
        data: [mediaDia[0] ? mediaDia[0].vlTemperatura : mediaDia[0], 
        		mediaDia1[0] ? mediaDia1[0].vlTemperatura : mediaDia1[0],
        		mediaDia2[0] ? mediaDia2[0].vlTemperatura : mediaDia2[0],
        		mediaDia3[0] ? mediaDia3[0].vlTemperatura : mediaDia3[0],
        		mediaDia4[0] ? mediaDia4[0].vlTemperatura : mediaDia4[0],
        		mediaDia5[0] ? mediaDia5[0].vlTemperatura : mediaDia5[0],
        		mediaDia6[0] ? mediaDia6[0].vlTemperatura : mediaDia6[0]]
    }, {
        name: 'Umidade do Ar',
        data: [mediaDia[0] ? mediaDia[0].umidadeAr : mediaDia[0], 
        		mediaDia1[0] ? mediaDia1[0].umidadeAr : mediaDia1[0],
                mediaDia2[0] ? mediaDia2[0].umidadeAr : mediaDia2[0],
		    	mediaDia3[0] ? mediaDia3[0].umidadeAr : mediaDia3[0],
            	mediaDia4[0] ? mediaDia4[0].umidadeAr : mediaDia4[0],
				mediaDia5[0] ? mediaDia5[0].umidadeAr : mediaDia5[0],
		    	mediaDia6[0] ? mediaDia6[0].umidadeAr : mediaDia6[0]]
    }, {
        name: 'Umidade do Solo',
        data: [mediaDia[0] ? mediaDia[0].umidadeSolo : mediaDia[0], 
        		mediaDia1[0] ? mediaDia1[0].umidadeSolo : mediaDia1[0],
				mediaDia2[0] ? mediaDia2[0].umidadeSolo : mediaDia2[0],
		    	mediaDia3[0] ? mediaDia3[0].umidadeSolo : mediaDia3[0],
            	mediaDia4[0] ? mediaDia4[0].umidadeSolo : mediaDia4[0],
        		mediaDia5[0] ? mediaDia5[0].umidadeSolo : mediaDia5[0],
      			mediaDia6[0] ? mediaDia6[0].umidadeSolo : mediaDia6[0]]
    }]

});
    
    	
</script>

</body>
</html>